{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <style>
        body {
            background-image: url('/static/images/bg-01.jpeg');
        }

        .logout-button {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #ff0000;
            /* Red color for logout button */
            color: #fff;
            padding: 15px 30px;
            font-size: 20px;
            border: none;
            border-radius: 34px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <!-- <button class="btn"> -->
    <a class="logout-button" href="{% url 'admin-home' %}">Back</a>
    <!-- </button> -->
    <div class="container">
        <!-- <h1 class="title">Sample Table Page</h1>
    <p class="description">This is a sample table page created using HTML and CSS.</p> -->
        <table>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Section</th>
                    <th>Course</th>
                    <th>Punch-in Time</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in attendance_details %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{ attendance.student_name }}</td>
                    <td>{{ attendance.student_section }}</td>
                    <td>{{ attendance.student_course }}</td>
                    <td>{{ attendance.time }}</td>
                    <td>{{ attendance.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>